<!DOCTYPE html>
  <html lang="es">

  <head>
    <link rel="stylesheet" href="../public/css/bootstrap_lux.css">
    <meta charset="utf-8">
    <title>Inicio</title>
  </head>

  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Nuevas Tecnologias</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tematicas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Opcion 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Opcion 4</a>
            </li>
          </ul>
        </div>
    </nav>
    <!-- header end -->
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">¿Que es nuevas tecnologias?</h1>
        <p class="lead">Nuevas Tecnologias es una clase enfocada a ...
          <hr class="my-4">
          <p>Los objetivos de la clase se pueden clasificar en: </p>
          <ul>
            <li>Objetivo 1</li>
            <li>Objetivo 2</li>
          </ul>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">Porque es importante nuevas tecnologias?</h1>
        <p class="lead">La clase de nuevas tecnologias ...</p>
        <hr class="my-4">
        <p>Algunos de los temas mas importantes: </p>
        <ul>
          <li>Tema 1</li>
          <li>Tema 2</li>
          <br>
        </ul>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Ver Tematicas</a>
        </p>
      </div>
    </div>
  </body>
</html>
